<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cjj.mapper.LeaveFormMapper">

    <!-- 开启二级缓存 -->
<!--    <cache type="org.mybatis.caches.ehcache.LoggingEhcache"/>-->

    <resultMap id="getEmp" type="com.cjj.bean.LeaveForm">
        <id property="leaveId" column="leave_Id"/>
        <result property="leaveSuccess" column="leave_Success"/>
        <result property="leaveDetails" column="leave_Details"/>
        <result property="leaveDays" column="leave_Days"/>
        <result property="leaveDate" column="leave_Date"/>
        <result property="empId" column="emp_Id"/>
        <association property="emp" javaType="com.cjj.bean.Emp">
            <result property="empName" column="emp_name" javaType="string"/>
        </association>
    </resultMap>

    <resultMap id="getReportForm" type="com.cjj.bean.LeaveForm" extends="getEmp">
        <result property="leaveSumDay" column="sum(leave_Days)"/>
    </resultMap>


    <select id="getLeaveBySuperiorId" resultMap="getEmp">
        SELECT leave_Id, emp_Name, leave_Date, leaveform.emp_Id, leave_Details, leave_Days, leave_Success
        FROM leaveform, emp
        WHERE leaveform.`emp_Id` IN (
                SELECT emp.emp_id
                        FROM emp WHERE superior_Id = #{superiorId})
          AND emp.emp_Id = leaveform.emp_Id
    </select>

    <select id="getLeaveBySuperiorIdAndStatus" resultMap="getEmp">
        SELECT leave_Id, emp_Name, leave_Date, leaveform.emp_Id, leave_Details, leave_Days, leave_Success
        FROM leaveform, emp
        WHERE leaveform.`emp_Id` IN (
                SELECT emp.emp_id
                        FROM emp WHERE superior_Id = #{superiorId})
                            AND emp.emp_Id = leaveform.emp_Id and leave_Success = #{success}
    </select>

    <select id="selectAll" resultMap="getEmp">
        SELECT leave_Id, emp_Name, leave_Date, leaveform.emp_Id, leave_Details, leave_Days, leave_Success
        FROM leaveform, emp
        where emp.emp_Id = leaveform.emp_Id
    </select>

    <select id="selectAllByStatus" resultMap="getEmp">
        SELECT leave_Id, emp_Name, leave_Date, leaveform.emp_Id, leave_Details, leave_Days, leave_Success
        FROM leaveform, emp
        WHERE leave_Success = #{success} and emp.emp_Id = leaveform.emp_Id
    </select>

    <select id="reportStatistics" resultMap="getReportForm">
        SELECT leave_Id, emp_Name, leave_Date, leaveform.emp_Id, leave_Details, leave_Days, leave_Success, sum(leave_Days)
        FROM leaveform, emp
        WHERE emp.emp_Id = leaveform.emp_Id and leave_Success = 1 group by leaveform.emp_Id
    </select>
</mapper>
